@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
    User user = ViewBag.User;
    Invoice invoice = ViewBag.Invoice;
}



@model InforCheckOut
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <form class="row" asp-controller="Invoice" asp-action="Checkout" method="post">
            <input asp-for="InvoiceId" value="@invoice.InvoiceId" style="visibility: hidden; position: absolute" />

            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Billing Details</h2>
                <div class="p-3 p-lg-5 border">
                   
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                            <input type="text" asp-for="fristName" value="@user.fristName" class="form-control" id="c_fname" name="fristName">
                        </div>
                        <div class="col-md-6">
                            <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                            <input type="text" asp-for="lastName" value="@user.lastName" class="form-control" id="c_lname" name="lastName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_companyname" class="text-black">Email</label>
                            <input type="text" asp-for="email" value="@user.email" class="form-control" id="c_companyname" name="email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_companyname" class="text-black">Phone</label>
                            <input type="text" asp-for="phone" class="form-control" id="c_companyname" name="phone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_companyname" class="text-black">Address</label>
                            <input value="@user.address" asp-for="address" type="text" class="form-control" id="c_companyname" name="address">
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label for="c_order_notes" class="text-black">Order Notes</label>
                        <textarea name="note" asp-for="note" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
                    </div>

                </div>
            </div>
            <div class="col-md-6">

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order</h2>
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                <th>Product</th>
                                <th>Total</th>
                                </thead>
                                <tbody>
                                    @foreach (Invoice_Products ip in ViewBag.ips)
                                    {
                                        <tr>
                                            <td>@ip.Product.title <strong class="mx-2">x</strong>@ip.quantity, <strong class="mx-2"></strong>@ip.size</td>
                                            <td>@ip.totalPrice</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                        <td class="text-black font-weight-bold"><strong>@ViewBag.TotalPrice</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='thankyou.html'">Place Order</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </form>
        <!-- </form> -->
    </div>
</div>