@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

@model Product

<div class="container card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create a product</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-controller="Product" asp-action="Edit" method="post">
        <div class="card-body">

            <input asp-for="ProductId" value="@Model.ProductId" type="text" style="display: none" class="visually-hidden">
            <input asp-for="UserId" value="@Model.UserId" type="text" class="visually-hidden" style="display: none">


            <div class="form-group">
                <label for="title">Title</label>
                <input asp-for="title" type="text" value="@Model.title" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="Dectiption">Dectiption</label>
                <textarea asp-for="description" value="@Model.description" rows="4" cols="50" class="form-control" id="Dectiption" placeholder="Dectiption"> </textarea>
            </div>

            <div class="form-group">
                <label for="Price">Price</label>
                <input asp-for="price" value="@Model.price" type="text" class="form-control" id="Price" placeholder="Price">
            </div>
            <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input asp-for="quantity" value="@Model.quantity" type="number" class="form-control" id="Quantity" placeholder="Quantity">
            </div>
            <div class="form-group">
                <label for="Color">Color</label>
                <input asp-for="color" value="@Model.color" type="text" class="form-control" id="Color" placeholder="Color">
            </div>
            <div class="form-group">
                <label for="Image">Image</label>
                <input asp-for="images" value="@Model.images" type="text" class="form-control" id="Image" placeholder="Image">
            </div>
            <div class="form-group">
                <label for="Category">Category</label>
                <select asp-for="CategoryId" class="custom-select mr-sm-2"
                        asp-items="@ViewBag.CategoryId"></select>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
