@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int count = 1;
}

@model IEnumerable<Product>

<div class="owl-stage-outer">
    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 3697px; padding-left: 15px; padding-right: 15px;">
            @foreach (Product p in Model)
            {
                
                <div class="owl-item active" style="width: 346.667px; margin-right: 20px">
                    <div class="item">
                        <div class="block-4 text-center border">
                            <figure class="block-4-image">
                                <a asp-controller="Home" asp-action="ShopSingle" asp-route-id="@p.ProductId"><img src="@p.images" alt="Image placeholder" class="img-fluid"></a>
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="shop-single.html">@p.title</a></h3>
                                <a asp-controller="Home" asp-action="ShopSingle" asp-route-id="@p.ProductId" class=" btn btn-primary text-white mt-3 w-50 font-weight-bold mt">$ @p.price</a>
                            </div>
                        </div>
                    </div>
                </div>
           

            }
        </div>
    </div>

<div/>
       




