
@{
    ViewData["Title"] = "ShopSigle";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

@model Product

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a asp-controller="Home" asp-action="Shop">Shop</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">@Model.title</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.images" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div id="productId" data-id="@Model.ProductId"></div>
                <h2 class="text-black">@Model.title</h2>
                <h4 id="category" data-category="@Model.Category.CategoryId">Category: @Model.Category.CategoryName</h4>
                <p>@Model.description</p>
                <p><strong  class="text-secondary ">Quantity: @Model.quantity</strong></p>
                <p><strong  class="text-primary h4">$@Model.price</strong></p>
                <div class="mb-1 d-flex">
                    <label for="option-sm" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input value="Small" type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
                    </label>
                    <label for="option-md" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input value="Medium" type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
                    </label>
                    <label for="option-lg" class="d-flex mr-3 mb-3">
                        <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input value="Large" type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
                    </label>
                    <label for="option-xl" class="d-flex mr-3 mb-3">
                    </label>
                </div>
                <div class="mb-5">
                    <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" id="product_quantity" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>

                </div>
                <p><a id="btn_add_to_cart" class="buy-now btn btn-sm btn-primary" style="color: white; font-weight: bold">Add To Cart</a></p>

            </div>
        </div>
    </div>
</div>

<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Similar product</h2>
            </div>
        </div>
        <div class="row similar-products">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                 
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="#">Tank Top</a></h3>
                                <p class="mb-0">Finding perfect t-shirt</p>
                                <p class="text-primary font-weight-bold">$50</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="#">Tank Top</a></h3>
                                <p class="mb-0">Finding perfect t-shirt</p>
                                <p class="text-primary font-weight-bold">$50</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="images/cloth_1.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3><a href="#">Tank Top</a></h3>
                                <p class="mb-0">Finding perfect t-shirt</p>
                                <p class="text-primary font-weight-bold">$50</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const id = $('#productId').data("id");
            const category = $("#category").data("category");
            $.ajax({
                url: "/home/ListSimilarProduct",
                method: "GET",
                data: { productId: id, category},
                success: function (data) {
                    if (data != null) {
                        $(".owl-carousel").html(data);
                    }
                },
                error: function (error) {
                    console.log("Error: " + error);
                }
            });

        });

        $('#btn_add_to_cart').click(function() {

            $.ajax({
                url: '/Auth/CheckAuthentication',
                success: function (response) {
                    if (response.user) {
                        const radioButtons = document.querySelectorAll('input[name="shop-sizes"]');
                        const ProductId = $("#productId").data("id");
                        const quantity = document.querySelector("#product_quantity").value;
                        let size

                        radioButtons.forEach(radioButton => {
                            if (radioButton.checked) {
                                size = radioButton.value;
                            }
                        });


                        $.ajax({
                            url: "/Invoice/addToInvoice",
                            method: "GET",
                            data: { ProductId: parseInt(ProductId), quantity: parseInt(quantity), size },
                            success: function (data) {

                                window.location.reload();

                            },
                            error: function (error) {
                                console.log("Error: " + error);
                            }
                        });
                    } else {
                        window.location.href = "/Auth/Login"
                    }

                },
                error: function (e) {
                    console.log(e);
                }
            })


           

        })


    </script>
}
